# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Streamlit
.streamlit/secrets.toml

# Pixi
.pixi/*

# OS / editor
.DS_Store
.vscode/
